@model DgAPI.Models.User

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h4 class="text-center">Update User</h4>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="user_id" /> <!-- Hidden field to store UserID -->

    <div class="form-group">
        <label class="control-label">Full Name</label>
        <input asp-for="user_fullname" class="form-control" />
        <span asp-validation-for="user_fullname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Username</label>
        <input asp-for="username" class="form-control" />
        <span asp-validation-for="username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input asp-for="email" class="form-control" />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Role</label>
                        <select asp-for="role" class="form-select">
                            <option value="">-- Select Status --</option>
                            <option value="Admin">Admin</option>
                            <option value="Staff">Staff</option>
                        </select>
        <span asp-validation-for="role" class="text-danger"></span>
    </div>
                    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
            </div>
        </div>
    </div>
</div>