@model DgAPI.Models.Customer

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h4 class="text-center">Add New Customer</h4>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input asp-for="customer_name" class="form-control" />
        <span asp-validation-for="customer_name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Contact Number</label>
        <input asp-for="customer_contactNum" class="form-control" />
        <span asp-validation-for="customer_contactNum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input asp-for="customer_email" class="form-control" />
        <span asp-validation-for="customer_email" class="text-danger"></span>
    </div>
                    <br />
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
            </div>
        </div>
    </div>
</div>