@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Register";
}
<br />
<div class="row justify-content-center mt-4">
    <div class="col-md-8 col-lg-6">
        <div class="alert alert-warning text-center">
            <h4 class="alert-heading">DGCOLOR BUSINESS SYSTEM</h4>
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <form asp-controller="Auth" asp-action="Register" method="post">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" name="user_fullname" class="form-control" required />
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control " required />
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" required />
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required />
                    </div>
                    <br />
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark w-50">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger text-center">
        @Html.ValidationSummary()
    </div>
}
